.theme-light {
    --color-primary: oklch(0.606 0.25 292.717);
    /* violet-500 */
    --color-primary-light: oklch(0.541 0.281 293.009);
    /* violet-600 */
    --color-primary-dark: oklch(0.491 0.27 292.581);
    /* violet-700 */

    --color-secondary: oklch(0.585 0.233 277.117);
    /* indigo-500 */
    --color-secondary-light: oklch(0.511 0.262 276.966);
    /* indigo-600 */
    --color-secondary-dark: oklch(0.457 0.24 277.023);
    /* indigo-700 */

    --color-accent: oklch(0.645 0.246 16.439);
    /* rose-500 */
    --color-accent-light: oklch(0.586 0.253 17.585);
    /* rose-600 */
    --color-accent-dark: oklch(0.514 0.222 16.935);
    /* rose-700 */

    --color-background: oklch(0.985 0 0);
    /* white */
    --color-background-secondary: oklch(0.967 0.001 286.375);
    /* zinc-100 */
    --color-background-tertiary: oklch(0.92 0.004 286.32);
    /* zinc-200 */

    --color-surface: oklch(0.967 0.001 286.375);
    /* zinc-100 */
    --color-surface-hover: oklch(0.92 0.004 286.32);
    /* zinc-200 */

    --color-border: oklch(0.871 0.006 286.286);
    /* zinc-300 */
    --color-border-light: oklch(0.92 0.004 286.32);
    /* zinc-200 */

    --color-text: oklch(0.141 0.005 285.823);
    /* zinc-950 */
    --color-text-secondary: oklch(0.274 0.006 286.033);
    /* zinc-800 */
    --color-text-tertiary: oklch(0.37 0.013 285.805);
    /* zinc-700 */

    --color-chat-self: oklch(0.491 0.27 292.581);
    /* violet-700 */
    --color-chat-mention: oklch(0.541 0.281 293.009);
    /* violet-600 */
    --color-chat-system: oklch(0.705 0.015 286.067);
    /* zinc-400 */
}